@import url("/normalize.css");

@font-face {
    font-family: "Azeret Mono";
    src: url("/assets/fonts/fonts-mix/AzeretMono-Bold.woff2") format("woff2"),
        url("/assets/fonts/fonts-mix/AzeretMono-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Azeret Mono";
    src: url("/assets/fonts/fonts-mix/AzeretMono-Regular.woff2") format("woff2"),
        url("/assets/fonts/fonts-mix/AzeretMono-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/fonts-mix/Inter-Bold.woff2") format("woff2"),
        url("/assets/fonts/fonts-mix/Inter-Bold.woff") format("woff");
    font-weight: bold;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/fonts-mix/Inter-Regular.woff2") format("woff2"),
        url("/assets/fonts/fonts-mix/Inter-Regular.woff") format("woff");
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Inter";
    src: url("/assets/fonts/fonts-mix/Inter-Thin.woff2") format("woff2"),
        url("/assets/fonts/fonts-mix/Inter-Thin.woff") format("woff");
    font-weight: 100;
    font-style: normal;
    font-display: swap;
}

html {
    font: 32px "Inter", "Helvetica", sans-serif;
}

.wrapper {
    display: flex;
    flex-direction: column;
    max-width: 1440px;
    margin: 0 auto;
}

main {
    min-height: 100dvh;
    flex: 1;
}

/*Header styles start*/

.header {
    background-color: rgb(74 43 51 / 1);
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 22.5px 20px;
    padding: 21.5px 36px;
}

.nav__list,
.social-links__list {
    display: flex;
    gap: 20px;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav__link,
.social-links__link {
    display: block;
    height: 24px;
    color: rgb(210 116 135 / 1);
    text-decoration: none;
    font-size: 15px;
    line-height: 1.6;
    border-radius: 5px;
    transition: all 0.3s ease-in-out;
}

.nav__link:hover,
.social-links__link:hover,
.nav__link:focus,
.social-links__link:focus {
    outline: 1px solid rgb(210 116 135 / 1);
    outline-offset: 5px;
}

.nav__link:active,
.social-links__link:active {
    font-weight: 700;
    outline: 3px solid rgb(210 116 135 / 1);
    transform: translate(2px, -2px);
}

.header__logo {
    height: 32px;
}

.header__img {
    max-width: 1328px;
    margin: 0 auto;
    margin-bottom: 36px;
}

/*Header styles end*/

.about-us__wrapper {
    max-width: 900px;
    margin: 220px auto;
}

.about-us__wrapper > * {
    text-align: center;
    margin: 0;
}

.about-us__title,
.menu__title {
    font: 18px "Azeret Mono", "Helvetica", sans-serif;
    font-weight: bold;
    line-height: 22px;
}

.about-us__desc {
    max-width: 900px;
    line-height: 44.8px;
}

.menu {
    display: flex;
    background-color: rgb(233 233 227 / 1);
}

.menu__wrapper {
    display: flex;
    max-width: 1328px;
    margin: 120px auto;
}

.menu__wrapper > * {
    flex: 1 1 664px;
}

.menu__control > * {
    color: rgb(111 111 100 / 1);
    margin: 0;
}

.menu__desc {
    width: 558px;
    line-height: 44.8px;
    margin-top: 17px;
    margin-bottom: 63px;
}

.menu__btn {
    width: 531px;
    background-color: rgb(233 233 227 / 1);
    border: 2px solid rgb(111 111 100 / 1);
    font-size: 15px;
    line-height: 24px;
    margin-bottom: 12px;
    padding: 17px 219px;
}

.menu__btn_active {
    background-color: rgb(111 111 100 / 1);
    color: rgb(255 255 255 / 1);

}

/*Food and drinks menu styles start*/

.menu__content {
    display: flex;
    flex-direction: column;
    background-color: rgb(255 255 255 / 1);;
}

.menu__content > * {
    margin: 50px auto 0;
}

.menu__section {
    text-align: center;
}

.menu__topic {
    font: 22px "Azeret Mono", "Helvetica", sans-serif;
    margin: 0;
}

.menu__list {
    display: flex;
    flex-direction: column;
    gap: 18px;
    list-style-type: none;
    padding: 0;
    margin: 0;
    margin-top: 28px;
}

.menu__item > * {
    font-size: 16px;
    line-height: 22px;
    margin: 0;
    padding: 0;
}

.item__title {
    font-weight: bold;
}

.item__price {
    font-style: italic;
}
    
/*Food and drinks menu styles end*/
    
.gallery {
    display: flex;
    margin: 150px 56px 120px;
}

.gallery__col:first-child {
    display: flex;
    flex-direction: column;
    gap: 40px;
    margin-right: 40px;
}

.info {
    background-color: rgb(170 158 84 / 1);
    display: flex;
    gap: 80px;
    padding: 120px 56px;
}

.info__item {
    flex: 1;
}

.info__title {
    font: 17px/22px "Azeret Mono", "Helvetica", sans-serif;
    font-weight: bold;
    color: rgb(255 255 255 / 1);
    text-align: center;
    margin: 0 0 15px;
}

.info__desc {
    font-size: 25px;
    font-style: normal;
    color: rgb(255 255 255 / 1);
    text-align: center;
    line-height: 36px;
    letter-spacing: 1px;
}